<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h1>Links user has posted</h1>
<% @links.each do |link| %>
      <tr>
        <td><%= link.net_rating %></td>
        <td><%= link.title %></td>
        <td><%= link_to link.url, link.url %></td>
        <td><%= link.description %></td>
      </tr>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |

<%= link_to 'Back', users_path %>

