<%= form_for(@link) do |f| %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :net_rating %><br>
    <%= f.number_field :net_rating %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
