<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Title</th>
      <th>URL</th>
      <th>Description</th>
      <th>User ID </th>
      <th>Posted</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.net_rating %></td>
        <td><%= link.title %></td>
        <td><%= link_to link.url, link.url %></td>
        <td><%= link.description %></td>
        <td><%= link_to link.user.name, user_path(link.user) %></td>
        <td><%= link.created_at %></td>

    
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add new link", new_link_path %>
<br>